<div class="min-h-screen bg-[#F4F4F4]"> 
    <div class="text-3xl font-bold flex justify-center pt-10 italic">Register Here</div>   
    <div class="min-h-screen flex">
    <div class="w-full m-2 rounded-lg flex flex-col md:flex-row gap-4 p-4 items-start">
        
        <div class="flex-1  bg-pink-200 rounded p-4 grid grid-cols-1 sm:grid-cols-2 gap-2">
        <input type="text" placeholder="Mobile" class="border bg-white bg-white rounded p-2 outline-none">
        <input type="text" placeholder="Mobile" class="border bg-white rounded p-2 outline-none">
        <input type="text" placeholder="Mobile" class="border bg-white rounded p-2 outline-none">
        <input type="text" placeholder="Mobile" class="border bg-white rounded p-2 outline-none">
        <input type="text" placeholder="Mobile" class="border bg-white rounded p-2 outline-none">
        <input type="text" placeholder="Mobile" class="border bg-white rounded p-2 outline-none">
        </div>

        <div class="flex-1  bg-blue-200 rounded p-4 grid grid-cols-1 sm:grid-cols-2 gap-2">
        <input type="text" placeholder="Mobile" class="border bg-white rounded p-2 outline-none">
        <input type="text" placeholder="Mobile" class="border bg-white rounded p-2 outline-none">
        <input type="text" placeholder="Mobile" class="border bg-white rounded p-2 outline-none">
        <input type="text" placeholder="Mobile" class="border bg-white rounded p-2 outline-none">
        <input type="text" placeholder="Mobile" class="border bg-white rounded p-2 outline-none">
        <input type="text" placeholder="Mobile" class="border bg-white rounded p-2 outline-none">
        </div>

        <div class="flex-1  bg-green-200 rounded p-4 grid grid-cols-1 sm:grid-cols-2 gap-2">
        <input type="text" placeholder="Mobile" class="border bg-white rounded p-2 outline-none">
        <input type="text" placeholder="Mobile" class="border bg-white rounded p-2 outline-none">
        <input type="text" placeholder="Mobile" class="border bg-white rounded p-2 outline-none">
        <input type="text" placeholder="Mobile" class="border bg-white rounded p-2 outline-none">
        <input type="text" placeholder="Mobile" class="border bg-white rounded p-2 outline-none">
        <input type="text" placeholder="Mobile" class="border bg-white rounded p-2 outline-none">
        </div>

    </div>
    </div>
</div>